body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

/*ここからheader*/
.container {
  width:1170px;
  padding:0 15px
  margin:0 auto;
}
.logo{
  width:100px;
}
/*ここまでheader*/

/*ここからtop-wrapper*/
.top-wrapper {
   padding: 180px 0 100px 0;
  background-image: url(https://instagram.fitm1-1.fna.fbcdn.net/v/t51.2885-19/s320x320/100959684_1154793294855336_3261912869721079808_n.jpg?_nc_ht=instagram.fitm1-1.fna.fbcdn.net&_nc_ohc=XwDTPWVQkFQAX_gxbXR&oh=503db4927871affbed26fc6c3dbd7f5a&oe=5F5C751B);
  background-size: cover;
  text-align: center;
  color:white;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}
.top-wrapper p {
  opacity: 0.7;
}
.btn-wrapper {
  margin: 20px 0;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border: 2px solid;
  border-radius: 4px;
}
.btn-wrapper p {
  margin: 10px 0;
}
.movie {
  background-color: #11b884;
}

.music {
  background-color: #3b5998;
  margin-right: 10px;
}

.animation {
  background-color: #55acee;
}
.others {
  background-color: #eea940;

}
.btn:hover {
  opacity: 1;
}

/*ここまでtop-wrapper*/

/*ここからcontents-wrapper*/
.contents {
  size:cover;
  display: inline-block; /* ここがポイント */
  height:80px
}
.contents img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}
/*ここまでcontents-wrappe*/
